#banniere {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(149, 149, 149) !important;
  /*permet d'avoir les couleurs en dégradé et !important ppur le "forcer"*/
}

#image_gauche {
  display: flex;
  align-items: center;
}

#image_gauche img {
  margin-right: 10px;
}

#logo:hover {
  cursor: pointer;
}

#logo img {
  height: 60px;
  width: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#moncompte {
  display: flex;
  align-items: center;
}

#secoco {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 60px;
}

#accueil {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-left: 70px;
}

#secoco .text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

#accueil a {
  text-decoration: none;
  color: white;
}

#accueil a:hover {
  color: black;
}

#secoco a {
  text-decoration: none;
  color: white;
}

#secoco a:hover {
  color: black;
}

html {
  background-color: rgb(205, 205, 205);
}
