#ensemble {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  width: 320px; /* Largeur suffisante pour afficher 3 couleurs par ligne */
}

.couleur {
  width: calc(
    (100% - 20px) / 3
  ); /* Calcule la largeur pour 3 couleurs par ligne avec marges */
  height: 100px;
  margin: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  clip-path: polygon(20% 30%, 20% 30%, 1000% 40%, 10% 80%);
}
