/* Styles pour le formulaire */
form {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  margin-right: 10px;
}
input[type="number"] {
  width: 50px;
}

/* Styles pour le tableau de pixels */
#pixel-table {
  width: 30%;
  height: auto;
  border-color: black !important; /* Force la couleur des bordures */
  display: inline-block;
  margin-right: 20px;
  border-collapse: collapse;
  border-width: 1px; /* Ajout de la largeur des bordures */
}

#pixel-table td {
  width: 20px;
  height: 20px;
  border: 1px solid black !important; /* Force la couleur des bordures des cellules */
  cursor: pointer;
}

/* Styles pour la palette de couleurs */
#color-palette {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
#color-palette div {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
#color-palette div.selected {
  border: 2px solid red; /* Ajout d'une bordure pour indiquer la sélection */
}

/* Styles pour les boutons */
button {
  margin-right: 10px;
}

/* Styles pour les conteneurs */
.container {
  margin-bottom: 100px;
  margin-right: 30px;
}
.container:after {
  content: "";
  display: table;
  clear: both;

}
