.color {
  width: 200px;
  height: 200px;
  margin-right: 80px;
  clip-path: path(
    "M24 14.0001C43.2859 28.8449 54.6886 33.2598 75.5 38.0001C108.423 36.7792 124.324 29.1481 147.5 1.50009C163.164 0.412347 175.5 14 180.144 32C184.788 50 162.173 57.3011 167.644 71C179.992 86.959 177.522 91.1801 175.5 112.5C166.873 145.566 95.5 178.5 85.5 169.5C75.5 160.5 85.0606 139.768 69.5 127.5C49.1936 136.915 37.8827 144.345 16.5 122.5C-6.15329 104.435 -2.54096 95.6452 16.5 81.0001C19.1623 58.4442 16.445 46.225 0.999972 25.5001C-0.849747 6.54974 5.4354 5.69851 24 14.0001Z"
  );
}

#liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#palete {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
